body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0a1f44 10%, #1f3b73 100%);
    color: #fff;
}

h2 {
    text-align: center;
    margin-top: 5%;
    color: #d1e8ff;
}

.row { /* login.php */
    background: linear-gradient(135deg, #1f3b73 10%, #0a1f44 100%);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(20, 83, 134, 0.596);
    top: 15%;
    position: relative;
    width: 150%;
    max-width: 350px;
    padding: 20px;
    margin: auto;
}

.container { /* login.php */
    background: rgba(10, 31, 68, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    position: relative;
    width: 250%;
    max-width: 450px;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #1f3b73;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

input:focus {
    border-color: #2979ff;
    box-shadow: 0 0 10px #2979ff;
}

button {
    padding: 10px;
    background-color: #1f3b73;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #2979ff;
}

a {
    margin-top: 2%;
    text-align: center;
    position: relative;
    color: #72EDF2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

select {
    height: 37px;
    border-radius: 4px;
    background: #1f3b73;
    color: white;
    border: 1px solid #2979ff;
    padding: 5px;
}

select:focus {
    border-color: #72EDF2;
    box-shadow: 0 0 10px #72EDF2;
}
